doctype html
html(lang="ja")
  head
    meta(charset="utf-8")

    meta(name="viewport", content="initial-scale=1.0")
    link(rel="icon" type="image/png" href="/favicon/favicon.png")

    block title
      title kirari.ch

    script(src="./app/bundle.js" charset="utf-8")

  body
    header
      .content
        a(class="logo",href="#") kirari.ch

    .content
      #searchbox
